version: '3.7'
services:
  man:
    build: .
    image: silverstripe_4
    container_name: ss_app
    restart: always
    depends_on:
      - database
    ports:
        - '9090:80'
    volumes:
        - .:/var/www/html
    links:
        - database
  database:
    image: mysql:5.7
    volumes:
        - ./db-data:/var/lib/mysql
    container_name: database
    ports:
        - '3306:3306'
    environment:
        - MYSQL_ALLOW_EMPTY_PASSWORD=1
